<div class="container">
<div class="card d-flex justify-content-center">
    <div class="card-header">Add or Update Entry</div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-4-lg col-12-sm">
                Customer ID: <input type="text" data-ng-model="newEntry.CustomerID" class="rounded shadowed" />
            {{newEntry.CustomerID}}
            </div>
            &nbsp;
            <div class="col-4-lg col-12-sm">
                Contact Name: <input type="text" data-ng-model="newEntry.ContactName" class="rounded shadowed" />
            </div>
            &nbsp;
            <div class="col-4-lg col-12-sm">
                Contact Title: <input type="text" data-ng-model="newEntry.ContactTitle" class="rounded shadowed" />
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-6-lg col-12-sm">
                Company Name: <input type="text" data-ng-model="newEntry.CompanyName" class="rounded shadowed" />
            </div>
            &nbsp;
            <div class="col-6-lg col-12-sm">
                Address: <input type="text" data-ng-model="newEntry.Address" class="rounded shadowed" />
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-4-lg col-12-sm">
                City: <input type="text" data-ng-model="newEntry.City" class="rounded shadowed" />
            </div>
            &nbsp;
            <div class="col-4-lg col-12-sm">
                Country: <input type="text" data-ng-model="newEntry.Country" class="rounded shadowed" />
            </div>
            &nbsp;
            <div class="col-4-lg col-12-sm">
                Postal Code: <input type="text" data-ng-model="newEntry.PostalCode" class="rounded shadowed" />
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-4-lg col-12-sm">
                Email: <input type="text" data-ng-model="newEntry.Email" class="rounded shadowed" />
            </div>
            &nbsp;
            <div class="col-4-lg col-12-sm">
                Phone: <input type="text" data-ng-model="newEntry.Phone" class="rounded shadowed" />
            </div>
            &nbsp;
            <div class="col-4-lg col-12-sm">
                Fax: <input type="text" data-ng-model="newEntry.Fax" class="rounded shadowed" />
            </div>
        </div>

    </div>
    <button type="button" data-ng-click="addEntry()" class="btn btn-primary btn-lg">Submit</button>
</div>
</div>