<div class="container" data-ng-controller="simpleController">
    Contact Name&nbsp;<input type="text" data-ng-model="name" />
    <br />
    <br />
    <div class="row">
        <div class="col-4" data-ng-repeat="contact in contacts | orderBy: contact.CustomerID | filter:name ">
            <div class="card border-primary mb-3 ml-2 bg-dark" style="max-width: 18rem;">
                <div data-ng-controller="simpleController" class="card-body text-primary">
                    <h5 class="card-title">{{contact.ContactName}}</h5>
                    <h5 class="card-title">{{contact.ContactTitle}}</h5>
                    <p class="card-text">Customer ID: {{contact.CustomerID}}</p>
                    <p class="card-text">Company: {{contact.CompanyName}}</p>
                    <p class="card-text">Address: {{contact.Address}}</p>
                    <p class="card-text">{{contact.City}}, {{contact.PostalCode}}, {{contact.Country}}</p>
                    <p class="card-text">Email:{{contact.Email}}</p>
                    <p class="card-text">Phone:{{contact.Phone}}</p>
                    <p class="card-text">Fax:{{contact.Fax}}</p>
                </div>
            </div>
        </div>
    </div>

<br />
<a href="#/table">Table View</a>
</div>