<div class="container">
    Contact Name&nbsp;<input type="text" data-ng-model="name" />
    <br />
    <br />
        <table class="table-responsive table-bordered table-hover shadow-lg rounded">
            <thead>
                <tr>
                    <th>CustomerID</th>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Contact Title</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Email</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th>Phone</th>
                    <th>Fax</th>
                </tr>
            </thead>
            <tbody data-ng-controller="simpleController">
                <tr data-ng-repeat="contact in contacts| orderBy: contact.CustomerID | filter:name ">
                    <td>{{contact.CustomerID}}</td>
                    <td>{{contact.CompanyName}}</td>
                    <td>{{contact.ContactName}}</td>
                    <td>{{contact.ContactTitle}}</td>
                    <td>{{contact.Address}}</td>
                    <td>{{contact.City}}</td>
                    <td>{{contact.Email}}</td>
                    <td>{{contact.PostalCode}}</td>
                    <td>{{contact.Country}}</td>
                    <td>{{contact.Phone}}</td>
                    <td>{{contact.Fax}}</td>
                </tr>
            </tbody>
        </table>

        <br />
        <a href="#/cardpage">Card View</a>
    </div>